<!DOCTYPE html>
<html>
    <head>
        <title> TEST index.ejs</title>
    </head>
    <body>
        <header>
                <h1>Bonjour <%= firstname %> <%= lastname %></h1> 
        </header>
    </body>

</html>