<!DOCTYPE html>
<html>
    <head>
        <title> TEST index.ejs</title>
    </head>
    <body>
        <header>
                <h1> PAGE D'ACCUEIL </h1>
                <% if(typeof login != 'undefined'){ %>
                    <p>
                        Bonjour <%= login %>
                    </p>
                <% } %>
        </header>
    </body>

</html>